<div class="about-box">
    <div>Иванчевскиятъ правописъ е името, давано понѣкога на първия официаленъ български правописъ, въведенъ съ наредба
        на
        министъра на народното просвѣщение Тодоръ Иванчовъ прѣзъ 1899 г. </div>
    <div>Той остава въ сила до въвеждането на Омарчевския правописъ прѣзъ 1921 г., а прѣзъ 1923 г., съ известни
        измѣнения, е
        възстановенъ въ основнитѣ си положения и дѣйства до правописната реформа отъ 1945 г. </div>
    <br>
    <div>
        Приложението промѣня правописа на въведения текст, използвайки правилата на Иванчевския правописъ:
        <ul>
            <li>
                добавя краесловнитѣ ерове при думитѣ завършващи на съгласна;
            </li>
            <li>
                поставя буква „ѣ“ (ять) на етимологичното ѝ мѣсто въ думитѣ, а сѫщо и за означаване на звука, който се
                изговаря
                ту като [йа], ту като [е];
            </li>
            <li>
                поставя буква „ѫ“ (голѣмъ юсъ) на етимологичното ѝ мѣсто въ думитѣ.
            </li>
        </ul>
    </div>

    <div>*Програмата има нѣкои пропуски и резултатътъ е невинаги напълно точенъ.</div>
    <br>

    <h5>Полезни връзки</h5>
    <ul>
        <li><a href="https://bgivanchov.wordpress.com/">Сайтъ за Иванчевския правописъ </a></li>
        <li><a href="https://www.facebook.com/starpravopis">Facebook страница</a></li>
        <li><a href="https://www.facebook.com/groups/148528215858916">Facebook група</a></li>
        <li><a href="https://github.com/Peshowe/converter-web-app">GitHub</a></li>

    </ul>

    <h5>За връзка</h5>
    <p>Ако имате прѣдложения, забѣлѣжки или откриете грѣшки, можете да пишете на Петъръ Недѣлевъ: nedelevbg@gmail.com
    </p>

    <p>
        Авторъ: Петъръ Недѣлевъ
        <br>
        Допринесли: Тодоръ Червенковъ, Павелъ Михайловъ
    </p>
</div>