<div class="about-box">
    Приложението промѣня правописа на въведения текст, използвайки правилата на Иванчевския правописъ:
    <ul>
        <li>
            добавя краесловнитѣ ерове при думитѣ завършващи на съгласна
        </li>
        <li>
            поставя буква „ѣ“ (ять) на етимологичното ѝ мѣсто въ думитѣ, а сѫщо и за означаване на звука, който се
            изговаря
            ту като [йа], ту като [е]
        </li>
        <li>
            поставя буква „ѫ“ (голѣмъ юсъ) на етимологичното ѝ мѣсто въ думитѣ
        </li>
    </ul>

    <h5>Полезни връзки</h5>
    <ul>
        <li><a href="https://bgivanchov.wordpress.com/">Сайтъ за Иванчевския правописъ </a></li>
        <li><a href="https://www.facebook.com/starpravopis">Facebook страница</a></li>
        <li><a href="https://www.facebook.com/groups/148528215858916">Facebook група</a></li>
        <li><a href="https://github.com/Peshowe/converter-web-app">GitHub</a></li>

    </ul>
</div>