<div class="about-box">
    Приложението промѣня съврѣменния правописъ на думитѣ въ страницата, използвайки правилата на Иванчевския правописъ:
    <ul>
        <li>
            добавя краесловнитѣ ерове при думитѣ завършващи на съгласна
        </li>
        <li>
            поставя буква ‘ѣ’ (ять) на етимологичното ѝ мѣсто въ думитѣ, а сѫщо и за означаване на звука, който се
            изговаря
            ту като [йа], ту като [е]
        </li>
        <li>
            поставя буква ‘ѫ’ (голѣмъ юсъ) на етимологичното ѝ мѣсто въ думитѣ
        </li>
    </ul>
</div>