<form action="{% url 'index' %}" method="post" id="converter_form">
    {% csrf_token %}
    <div class="converter-form">
        <textarea type="text" id="input_text" name="input_text" form="converter_form"
                      placeholder="Въведете текстъ тукъ" class="text form-control" maxlength="{{max_input}}"></textarea>

        {% load static %}
        <img class="loading_gif" id="loading_gif" src="{% static 'converter/loading_gif.gif' %}" alt="Зареждане"
             hidden>

        <div id="convertedContainer" class="text form-control" hidden></div>

        <div id="yatyus" class="text hidden" style="display: none;">
            <span>Ѣ Ѫ</span>
        </div>

        <div class="input-group parent_div_2">
            <button id="convert_button" type="button" class="btn btn-primary convert-button"
                onclick="convert()">Конвертирай</button>
            <button id="copy_button" type="button" class="btn btn-primary convert-button"
                onclick="copyToClipboard()" hidden>Копирай</button>
            <button id="new_button" type="button" class="btn btn-primary convert-button"
                    onclick="resetConvert()" hidden>Ново конвертиране</button>
        </div>
    </div>
</form>

<img id="easter_egg" src="{% static 'converter/easter_egg.png' %}" alt="Нощьта на 26-ти февруари" hidden>


<script src="{% static 'converter/js/patience_diff.js' %}"></script>
<script src="{% static 'converter/js/converter_client.js' %}"></script>
<script type="text/javascript">
    set_crsf("{{csrf_token}}")
</script>
