<form action="{% url 'index' %}" method="post" id="converter_form">
    {% csrf_token %}
    <div class="converter-form">
        <div class="input-group parent_div_1">

            <div class="side-box">
                <textarea type="text" id="input_text" name="input_text" form="converter_form"
                    placeholder="Вашият текст тук" class="form-control" rows="15" maxlength="{{max_input}}"></textarea>
            </div>

            <div class="side-box">
                {% load static %}
                <img class="loading_gif" id="loading_gif" src="{% static 'converter/loading_gif.gif' %}" alt="Зареждане"
                    hidden>

                <textarea id='convertedContainer' type="text" class="form-control" rows="15" disabled></textarea>
            </div>
        </div>

        <button id="convert_button" type="button" class="btn btn-primary convert-button"
            onclick="convert()">Конвертирай</button>
    </div>
</form>


<script src="{% static 'converter/js/converter_client.js' %}"></script>
<script type="text/javascript">
    set_crsf("{{csrf_token}}")
</script>