{% extends "converter/parent.html" %}

{% block content %}

{% load static %}

<div class="title-box">
  <img src="{% static 'converter/logo.png' %}" alt="logo" />
  <div class="title">
    <h1>Български описменитель</h1>
    <h2>Конверторъ къмъ Иванчевски правописъ.</h2>
    <h2>Проектъ на „<a href="https://osvedomitel.bg">Български освѣдомитель</a>“.</h2>
  </div>
</div>

<div class="navigation">
  <ul class="nav nav-tabs" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="converter-tab" data-bs-toggle="tab" href="#converter" role="tab"
        aria-controls="converter" aria-selected="true">Конверторъ</a>
    </li>

    <li class="nav-item" role="presentation">
      <a class="nav-link" id="about-tab" data-bs-toggle="tab" href="#about" role="tab" aria-controls="about"
        aria-selected="false">Относно</a>
    </li>

  </ul>

  <button id="dark_mode_button" type="button" class="btn btn-primary" onclick="toggleDarkMode()">
    Тъменъ режимъ
  </button>
  <button id="dark_mode_icon" type="button" class="btn btn-primary" onclick="toggleDarkMode()">
    Тъмно
  </button>
</div>


<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="converter" role="tabpanel" aria-labelledby="converter-tab">
    {% include "converter/converter_form.html" %}
  </div>

  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    {% include "converter/about.html" %}
  </div>

</div>




{% endblock %}
