{% extends "converter/parent.html" %}

{% block content %}

{% load static %}


  <form action="{% url 'index' %}" method="post" id="converter_form">
    {% csrf_token %}
    <div id='parent_div_1' class="input-group">

      <textarea  type="text" id="input_text" name="input_text" form="converter_form" placeholder="Вашият текст тук" class="form-control" rows="10"></textarea>

      <span class="input-group-addon">-</span>

      <textarea  id='convertedContainer' type="text" class="form-control" rows="10" disabled></textarea>

    </div>

    <!-- <input type="submit" value="Конвертирай" > -->
    <button type="button" onclick="convert()">Конвертирай</button>
  </form>

<script src="{% static 'converter/converter_client.js' %}"></script>
<script type="text/javascript">
  set_crsf("{{csrf_token}}")
</script>

{% endblock %}
