<!DOCTYPE html>
<html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8PQ2DQKRR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Y8PQ2DQKRR');
  </script>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'converter/styles/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'converter/styles/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,400i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Tinos:400,400i&display=swap" rel="stylesheet">
  <link rel="icon" href="{% static 'converter/logo-osvedomitel.svg' %}">


  <meta name="og:description" content="Конверторъ къмъ Иванчевски правописъ">
  <meta name="og:title" content="Правописенъ конверторъ">
  <meta property="og:image" content="https://pravopis.osvedomitel.bg/static/converter/meta-logo.jpg">
  <meta property="og:image:width" content="67" />
  <meta property="og:image:height" content="54" />
  <meta property="og:image:alt" content="Конверторъ къмъ Иванчевски правописъ">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Правописенъ конверторъ</title>


</head>

<body>

  <div class="page-wrapper">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'converter/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'converter/js/jquery-3.5.1.min.js' %}"></script>

</body>

</html>
